<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo3.png" %>
   </a>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "CurbAlert", root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

    <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Map <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><%= link_to "All items", items_path %></li>
         <li><a href="#">Only unclaimed <input type="checkbox" id="unclaimed-checkbox"></a></li>
         <% if logged_in? %>
         <li><a href="#">Only mine <input type="checkbox" id="ownership-checkbox" data-hook="0"></a></li>
         <% end %>
       </ul>
     </li>

      <% if logged_in? %>
        <li><%= link_to "New Item", "#", id: "new-button" %></li>
      <% end %>

       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <% if logged_in? %>
          Logged in
        <% else %>
          Login
        <% end %>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <!-- Hide when not logged in -->
          <% if logged_in? %>
            <li>
              <%= link_to "Hi #{current_user.name}" %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: 'DELETE' %>
            </li>
          <% else %>

              <%= form_for(:session, url: login_path) do |f| %>

                <li>
                <%= f.label :email %><br>
                <%= f.text_field :email %>
                </li>

                <li>
                <%= f.label :password %><br>
                <%= f.password_field :password %>
                </li>

                <li>
                <%= f.submit "Login" %>
                </li>
              <% end %>

              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Sign up", new_user_path %>
              </li>
            <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>