<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="">Hello</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Map", items_path %></li>
      <li><%= link_to "Sign in", "#", id: "login" %></li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <!-- Hide when not logged in -->
          <% if logged_in? %>
            <li>
              <%= link_to "Hi #{current_user.name}" %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: 'DELETE' %>
            </li>
          <% else %>
            <li>
              New user
            </li>
            <li>
              <%= form_for(:session, url: login_path) do |f| %>

                <div class="field">
                <%= f.label :email %><br>
                <%= f.text_field :email %>
                </div>

                 <div class="field">
                <%= f.label :password %><br>
                <%= f.password_field :password %>
                </div>

                <div class="field">
                <%= f.submit "Login" %>
                </div>

              <% end %>
            </li>
          <% end %>

            <li>
            </li>
            <li><%= link_to "Sign up", new_user_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>