  <div class="container">
    <div class="row">
      <div id="item-wrapper">
        <div class="col-lg-5">
          <div id="item-info">


            <div class="panel panel-default">
              <div class="panel-thumbnail"><div id="carousel-item" class="carousel slide" data-ride="carousel" data-interval="false">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <!-- Add here -->
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <!-- Add here -->
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-item" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-item" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
              <div class="panel-body">
                <p class="lead" id="item-name">Name</p>
                <p id="item-description">Description</p>
                <!-- <p id="item-location">Location</p> -->
                <p id="item-created_at">Created</p>
                <p>
                  <h5 id="item-id">Id</h5>
                  <h5 id="item-claimed">Claimed</h5>
                  <span>
                  <button id="claim-button" class="btn btn-default">Claim!</button>
                  </span>
                  <!-- if owner -->
                  <span id="edit-button-wrapper">
                  </span>
                </p>
                <p>
                  <img src="http://api.randomuser.me/portraits/med/women/4.jpg" height="28px">
                  <img src="http://api.randomuser.me/portraits/med/men/4.jpg" width="28px" height="28px">
                </p>
              </div>
            </div>




          </div>
          <div id="new-item">
            <h1 id="form-heading">Create new item <%= @item.id %></h1>
            <div id="form-error">
              <h5 id="error-message">Error message</h5>
            </div>
            <%= form_for @item, html: {id: "new-item", multipart: true, class: "form-horizontal"} do |f| %>
            <div class="form-group">
              <%= f.label :name, class: "col-sm-3" %>
              <div class="col-sm-9">
                <%= f.text_field :name, html: {placeholder: "Name..", class: "form-control"} %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :description, class: "col-sm-3" %>
              <div class="col-sm-9">
              <%= f.text_area :description, html: {placeholder: "Description..", class: "form-control"}  %>
              </div>
            </div>
            <div class="form-group">
              <%= f.hidden_field :longitude, id: "item_longitude" %>
              <%= f.hidden_field :latitude, id: "item_latitude" %>
            </div>
            <div class="form-group">
              <%= f.label "Images", class: "col-sm-3" %>
              <div class="col-sm-9">
              <%= file_field_tag "images[]", type: :file, multiple: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <%= f.submit :submit, id: "submit-item" %>
              </div>
            </div>
            <% end %>

            <div id="search-address">
              Location:
              <input type="text" id="autocomplete_location">
              <a class="btn btn-default btn-sm" id="autocomplete_location">Go!</a>
            </div>
          </div>
          <div id="login">
            <h1>
              <%= render partial: '/users/form', locals: {form_variable: @user, button_variable: "Sign up"} %>
            </h1>
          </div>
          <div id="edit-item">
            <h1>Edit item</h1>

           <!--  <%= form_for @item, html: {id: "edit-item"} do |f| %>
              <%= f.hidden_field :id %>
              <%= f.label :name %>
              <%= f.text_field :name %>
              <%= f.label :description %>
              <%= f.text_field :description %>
              <%= f.hidden_field :longitude %>
              <%= f.hidden_field :latitude %>
              <%= f.label :claimed %>
              <%= f.check_box :claimed %>
              <%= f.submit :submit %>
            <% end %> -->
          </div>

      </div>

      </div>
      <!-- <div class="col-lg-7"> -->
      <div class="col-lg-12">
        <div id="map-wrapper" style="width: 100%; height: 500px;">
          <div id="map-index" style="width: 100%; height: 100%;"></div>
          <div id="map-new-item" style="width: 100%; height: 100%;"></div>
        </div>
      </div>
    </div>
  </div>


